body {
  background-color: #404040;
  height: auto;
  overflow: scroll;
}

viewport {
  width: device-width ;
  zoom: 1.0 ;
}

#container {
  width: 95%;
  height: auto;
  margin: 0px auto;
}

#header {
  display: block;
  text-align: center;
  background-color: #d6ed17;
  height: 200px;
  width: 100%;
}

#menu {
  float: left;
  width: 100%;
  background-color: #606060;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  height: auto;
}

#menu ul {
  display: block;
  margin: 0px;
  padding: 2px;
  list-style: none;
}

#menu a {
  display: block;
  width: 8em;
  padding: 0px 0px 4px 0px;
}

#menu li {
  float: left;
  width: 9em;
  padding: 5px 0px 5px 10px;
}

#menu li ul {
  display: none;
}

#menu li:hover ul {
  display: block;
  width: 9em;
  position: absolute;
  background-color: #6b6b6b;
}

#main-content {
  clear: left;
  background-color: #e6e6e6;
  height: auto;
  overflow: hidden;
  padding: 10px 30px 40px 30px;
}

#footer {
  height: 20px;
  color: #e6e6e6;
  width: 100%;
  background-color: #404040;
  text-align: center;
  margin: 0px auto;
}

p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-indent: 25px;
  margin: 5px 30px 0px 5px;
  font-size: 1.1em;
  padding-bottom: 15px;
}

p.block {
  margin-left: 50px;
  margin-right: 20px;
  text-indent: 0px;
}

p.leftpquote {
  float: left;
  text-indent: 0em;
  width: 10.0em;
  background-color: #cccccc;
  padding: 1.2em;
  margin: 5px 20px 5px 0px;
  font-size: 1.3em;
}

p.rightpquote {
  float: right;
  text-indent: 0em;
  width: 10.0em;
  background-color: #cccccc;
  padding: 1.2em;
  margin: 5px 0px 5px 20px;
  font-size: 1.3em;
}

p.display-field {
  display: inline-block;
  padding-left: 50px;
  text-indent: -50px;
}

img {
  display: inline-block;
}

.imageleftcaption {
  font-size: 80%;
  text-align: center;
  float: left;
  margin: 10px 20px 10px 0px;
  position: relative;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.imagerightcaption {
  font-size: 80%;
  text-align: center;
  float: right;
  margin: 10px 0px 10px 20px;
  position: relative;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 1.2em
}

h5 {
  font-size: 1.2em
}

h6 {
  font-size: 0.8em;
  margin-bottom: 10px;
}

#menu a:link {
  text-decoration: none;
  color: #d6ed17ff;
  font-size: 1em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#menu a:visited {
  text-decoration: none;
  color: #acbe0e;
  font-size: 1em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#menu a:hover {
  text-decoration: underline;
  color: #e3f359;
  font-size: 1em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #909090;
}

#menu a:active {
  text-decoration: underline;
  color: #00000;
  font-size: 1em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#main-content a:link {
  text-decoration: underline;
  color: #818e0b;
  font-size: 1.1em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#main-content a:visited {
  text-decoration: underline;
  color: #545f07;
  font-size: 1.1em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#main-content a:hover {
  color: #e3f359;
  background-color: #909090;
}

#main-content a:active {
  text-decoration: none;
  color: #00000;
  font-size: 1.1em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.italic {
  font-style: italic;
}
